body {
  width: 100%;
  margin: 0 0 0 0;
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  box-shadow: 0px 0px 20px 0px;
}

.buttons-container {
  position: fixed;
  top: 60%;
  left: 75%;
  display: none;
  flex-direction: column;
  z-index: 2;
}

.change-view-btn {
  @media screen and (max-width: 375px) {
    display: none;
  }
}

.back-btn, 
.change-view-btn {
  width: 130px;
  height: 65px;
  font-size: 25px;
  margin-top: 30px;
  border-radius: 5px;
}

.info_container {
  display: flex;
  justify-content: center;
  align-items: center;
  &--avatar {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
	} 
	&--socials_list {
		display: inline-block;
	}
}  

.education_container {
  &--logo {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    text-align: center;
    border: 2px solid black;
    span {
      margin: 0 5%;
    }
  }
  &--list {
    animation: 0.5s ease-in-out;
    display: none;
  }
}

.projects_container {
  &--logo {
    font-size: 32px;
    text-align: center;
    border: 2px solid black;
  }
}

.carousel {
  width: 100%;
  text-align: center;
  display: flex;
}

.items-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.item {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  margin: 0 auto;
}

.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.description {
  font-size: 32px;
  border: 2px solid black;
  display: inline-flex;
  justify-content: space-between;
    width: 80%;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 10%;
}

.control.left {
  left: 0;
  right: auto;
}

.control.right {
  right: 0;
  left: auto;
}

.arrow {
  display: inline-block;
  font-size: 84px;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

img {
  height: 500px;
  cursor: pointer;
}

.first-project,
.second-project {
  display: none;
  height: 100vh;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  border: none;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@media (max-width: 960px) {
  .description {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .control > .arrow {
    display: none;
  }

  .project-name {
    display: none;
  }

  .description {
    border: 0;
  }
}

